<% room_messages = @room.room_messages.includes(:user) %>
<div class="chat" data-channel-subscribe="room" data-room-id="<%= @room.id %>">
  <% room_messages.each do |room_message| %>
    <div class="chat-message-container">
      <div class="row no-gutters">
        <div class="col-auto text-center">
          <img src="<%= room_message.user.gravatar_url %>" class="avatar" alt="">
          <b> <%= room_message.user.username %> :  </b>
        </div>
        <hr>
        <div class="col">
          <div class="message-content">
            <p class="mb-1">
              <%= room_message.message %>
            </p>
            <div class="text-right">
              <small>
                <%= room_message.created_at %>
                </small>room_id = @room.id
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>